<div class = "main" *ngIf = "product">
  <div class = "head">
    <div class = "image">
      <img [src]="product.image_urls[0].url" alt="">
    </div>

    <div class = "indetail">

      <div class = "name">
        <p id = "product_name">{{product.name}}</p>
      </div>
      <div class = "description">
        <p id = "desc">
          {{product.description}}
        </p>
      </div>

      <div class = "images">
        <div *ngFor = "let image of product.image_urls" class="immg">
          <button class = "btn" (click)="changeImage(image.url)"><img [src]="image.url" alt="{{product.name}}" class="photo"></button>
        </div>
      </div>

      <div>
        <div class = "price">
          <p>Price: {{product.price}}$</p>
        </div>
        <div class = "rating">
          <p> Rating: {{product.rating}} </p>
        </div>
        <ngb-rating [rate]="product.rating"></ngb-rating>
      </div>
      <div>
        <button class="cart" (click)="addToCart()">
          Add to cart
        </button>
      </div>
    </div>
  </div>


  <div class = "create-comment" *ngIf="isLogin">
    <form>
      <div class = "form-group">
        <label>{{username}}</label>
        <div class = "input-group">
          <textarea #text placeholder="Type comment..."></textarea>
        </div>
      </div>
      <button (click)="addComment(text.value)" >Send</button>
    </form>
  </div>



  <div class = "comments">
    <div *ngFor="let comment_ of product.comments.reverse()" class = "comment">
        {{comment_.username}}
    </div>
  </div>

</div>
<div *ngIf = "!product">
  Loading...
</div>
