<footer>
  <div class="leftSide">
    <div class="names">
        <p>Members:</p>
        <ul class="list">
          <li>Ergeldi Zhanibek</li>
          <li>Ayat Yeskendir</li>
          <li>Gulbina Bolatbekkyzy</li>
        </ul>
    </div>
    <div class="secure">
      <p>© FlyBuy, Inc., 2021. All rights reserved.</p>
    </div>
  </div>
  <div class="middle">
    middle
  </div>
  
  <div class="rightSide">
    <div class="social-links">
      <a href="https://www.twitter.com" title="Twitter" target="_blank"><img src="https://icon-library.com/images/twitter-circle-icon-png/twitter-circle-icon-png-8.jpg" class="twit"></a>
      <a href="https://www.facebook.com" title="Facebook" target="_blank"><img src="https://i.pinimg.com/736x/76/40/a4/7640a47a8165bc33b08e948d903f5ef3.jpg" class="face"></a>
      <a href="https://www.instagram.com" title="Instagram" target="_blank"><img src="https://www.freepnglogos.com/uploads/instagram-logo-png/white-instagram-logo-black-and-white-icon--14.png" class="insta"></a>
    </div>
  </div>
  
</footer>
<!--
    1. https://www.nike.com/ru/t/%D0%BA%D1%80%D0%BE%D1%81%D1%81%D0%BE%D0%B2%D0%BA%D0%B8-air-max-97-z3TlrlVN/921826-101
-->