<header>
  <div class = "menu-wrapper">
    <button (click)="onChange()"><i class = "material-icons md-36">list</i></button>
    <h3>Dashboard</h3>
  </div>
  <div class="search-wrapper">
    <input type="search" placeholder="search ...">
    <button class="toSearch"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAUG9N3tV-SCaqxzpeKavqC3X66g7O8bxbxA&usqp=CAU" class="search"></button>
  </div>

  <div class="user-wrapper">
    <img src="" alt="avatar">
    <div class="user">
      <!--Name-->
    </div>
  </div>
</header>