<header>
  <div class = "menu-wrapper">
    <button (click)="onChange()"><i class = "material-icons md-36">list</i></button>
    <h3>Dashboard</h3>
  </div>
  <!-- <div class="Info">
    доп инфа
  </div> -->
  <div class="searchBox">
    <input class="searchInput"type="text" name="" placeholder="Search">
    <button class="searchButton" href="#">
        <i class="material-icons">search</i>
    </button>
  </div>
  <!-- <div class="user-wrapper">
    <img src="" alt="avatar">
    <div class="user">
    </div>
  </div> -->
  <div class="UserSets">
    <div class="UserLogined" *ngIf="logIn">
      <a>UserName</a>
      <button (click)="logout(content)">
        <span class="material-icons">
          logout
        </span>
      </button>
    </div>
    <div class="UserLogOuted" *ngIf="!logIn">
      <button (click)="login(content)">
        <span class="material-icons">
          login
        </span>
      </button>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" >Sign-In</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Hello, World!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>

</header>
