header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    background-color: #fff;
}

.menu-wrapper{
    display: flex;
    align-items: center;
}
.menu-wrapper button{
    border:none;
    background-color: inherit;
}